<configuration
    xmlns:patch="http://www.sitecore.net/xmlconfig/"
    xmlns:role="http://www.sitecore.net/xmlconfig/role">
  <sitecore>
    <!--Message Queue Rebus Message Configuration-->
    <Messaging>
      <Rebus>
        <RD.MessageQueue.MessageBus.ContactMessageBus>
          <Transport>
            <SqlServer>
              <!--For Standalone or ContentManagement Message Bus is Two way sends and receives message-->
              <OneWay role:require="(Standalone or ContentManagement) and !ContentDelivery">false</OneWay>
              <!--In ContentDeliver Message Bus ONLY sends message - so it's one way-->
              <OneWay role:require="ContentDelivery">true</OneWay>
              <ConnectionStringOrName>messaging</ConnectionStringOrName>
              <TableName>Sitecore_Transport</TableName>
              <InputQueueName>ContactMessageBus</InputQueueName>
            </SqlServer>
          </Transport>
          <Routing>
            <TypeBasedMappings>
              <TypeMappings>
                <CreateDictionaryItemMessageMapping>
                  <Type>RD.MessageQueue.Models.ContactMessage, RD.MessageQueue</Type>
                  <DestinationQueue>ContactMessageBus</DestinationQueue>
                </CreateDictionaryItemMessageMapping>
              </TypeMappings>
            </TypeBasedMappings>
          </Routing>
          <Options role:require="(Standalone or ContentManagement) and !ContentDelivery">
            <!--Queue worker numbers - default 1 worker-->
            <SetNumberOfWorkers>1</SetNumberOfWorkers>
            <SimpleRetryStrategy>
              <ErrorQueueAddress>Error</ErrorQueueAddress>
              <!--Customize Number of Delivery Attempts if needed-->
              <MaxDeliveryAttempts>1</MaxDeliveryAttempts>
              <SecondLevelRetriesEnabled>false</SecondLevelRetriesEnabled>
            </SimpleRetryStrategy>
          </Options>
          <Logging Type="Sitecore.Messaging.SitecoreLoggerFactory, Sitecore.Messaging"/>
        </RD.MessageQueue.MessageBus.ContactMessageBus>
      </Rebus>
    </Messaging>

    <!--Message Queue Initialization-->
    <pipelines>
      <initialize>
        <processor type="RD.MessageQueue.Pipelines.InitializeContactBus, RD.MessageQueue" resolve="true" />
      </initialize>
      <httpRequestBegin>
        <processor type="RD.MessageQueue.Pipelines.IgnoreSignalRPath, RD.MessageQueue"
                   patch:before="processor[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']"/>
      </httpRequestBegin>
      <httpRequestProcessed>
        <processor type= "RD.MessageQueue.Pipelines.Tracking.TrackingRequestEnd, RD.MessageQueue" role:require="(Standalone or ContentDelivery)"  patch:before="processor[@type='Sitecore.Analytics.Pipelines.HttpRequest.EndAnalytics, Sitecore.Analytics']"/>
      </httpRequestProcessed>
      <owin.initialize>
        <processor type="RD.MessageQueue.Pipelines.ContentMesssageOwinInitialize, RD.MessageQueue" patch:after="processor[@type='Sitecore.Owin.Authentication.Pipelines.Initialize.HandleLoginLink, Sitecore.Owin.Authentication']" resolve="true"/>
        <!--<processor type="RD.MessageQueue.Pipelines.ContentMesssageOwinInitialize, RD.MessageQueue" />-->
      </owin.initialize>
      <preAuthenticateRequest>
        <processor type="Sitecore.Pipelines.HttpRequest.IgnoreList, Sitecore.Kernel">
          <prefixes>
            <prefix name="signalr">/signalr/</prefix>
          </prefixes>
        </processor>
      </preAuthenticateRequest>
    </pipelines>

    <!--Registering Services DI-->
    <services>
      <configurator type="RD.MessageQueue.Service.ContactMessageQueueServiceConfig, RD.MessageQueue" role:require="(Standalone or ContentManagement)"/>
      <register serviceType="RD.MessageQueue.Service.IContactMessageQueueService, RD.MessageQueue" implementationType="RD.MessageQueue.Service.ContactMessageQueueService, RD.MessageQueue" />
      <!--<register serviceType="RD.MessageQueue.Service.ContactMessageQueueServiceHandler, RD.MessageQueue" implementationType="RD.MessageQueue.Service.ContactMessageQueueServiceHandler, RD.MessageQueue" />-->
      <!--<register serviceType="RD.MessageQueue.Service.ContactMessageQueueServiceHandler, RD.MessageQueue" implementationType="RD.MessageQueue.Service.ContactMessageQueueServiceHandler, RD.MessageQueue" />-->
    </services>
  </sitecore>
</configuration>
