<section class="sc-applicationContent-main">
  <article class="p-4">
    <div class="card mb-3">
      <div class="card-block">
        <sc-dropdown>
          <button scButton scDropdownToggle>Select a website</button>
          <sc-dropdown-menu>
            <sc-dropdown-header>Websites</sc-dropdown-header>
            <a scDropdownItem href="#">Action</a>
            <a scDropdownItem href="#">Another action</a>
          </sc-dropdown-menu>
        </sc-dropdown>
        <button scButton="primary">Primary</button>
      </div>
    </div>
  </article>
    
 
</section>
