<?xml version="1.0"?>
<configuration>
  <sitecore xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <pipelines>
      <createVisit>
        <processor type="RD.IPMask.Pipelines.SetIpBasedOnQueryString, RD.IPMask"
                   patch:after="processor[@type='Sitecore.Analytics.Pipelines.CreateVisits.XForwardedFor, Sitecore.Analytics']">
        </processor>
      </createVisit>
    </pipelines>
  </sitecore>
</configuration>
